*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.18),rgba(0,0,0,0.1)),url(../meraBharat/register.jpg); */
}
.container {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.18),rgba(0,0,0,0.1)),url(../meraBharat/Darjeeling.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
   
    /* background-image:linear-gradient(rgba(0, 0, 0, 0.18),rgba(0,0,0,0.1)),url(../meraBharat/register.jpg) ; */
  }
  .header{
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2); 
     

  }

  .container h2 {
    text-align: center;
    color: white;
  }

  .container input[type=text],
  .container input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
    /* justify-content: center; */
    }

    .container button {
      background-color: #00b894;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    .container button:hover {
      opacity: 0.8;
      background-color: white;
      color: black;
    }